extends layout
block content
  h2=title
  if product
    span [ 
      each category in product.category 
        a(href=category.url) #{category.name}
    span  ]

  hr
  .list-group 
    ul.list-group
      li.list-group-item #[strong Product Name: ]
        span #{product.name}
    ul.list-group
      li.list-group-item #[strong Product Description: ]
        span #{product.description || 'No description'}
    ul.list-group
      li.list-group-item #[strong Product Price: ]
        span $#{product.price}
    ul.list-group
      li.list-group-item #[strong Product Quantity: ]
        span #{product.quantity}
  hr
  p 
    a(href=product.url+'/update') Update product 
  p
    a(href=product.url+'/delete') Delete product  