extends layout 
block content 
  h2 All Products in #{category.name}
  p #{category.description}

  if(productsByCategory.length)
    hr
    .list-group
      each product in productsByCategory
        a.list-group-item.list-group-item-action(href=product.url) 
          div.d-flex.w-100.justify-content-between
            h5.mb-1 #{product.name}
          p #{product.description || 'No Description.'}
  hr
  p 
    a(href=category.url+'/update') Update Category
  p 
    a(href=category.url+'/delete') Delete Category
