extends layout 

block content
  h2=title 

  //- if(categoryList.length)
  //-   ul
  //-     each category in categoryList 
  //-       li 
  //-         a(href=category.url) #{category.name} 
  //- else 
  //-   p No product categories.
  if(categoryList.length)
    ul.list-group
      each category in categoryList 
        a.list-group-item.list-group-item-action(href=category.url) #{category.name} 
  else 
    p No product categories.


